<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultLite" connectionString="Data Source=.\TimeTracker.db;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="Default" connectionString="Server=.\SQLExpress;AttachDbFilename=.\DB.mdf;Database=dbname; Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>