<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="LogName" value="TimeTrackerLog"/>
    <add key="LogSourceName" value="TimeTrackerLogSource"/>
    <add key="AppsToTrack" value="msedge"/>
  </appSettings>
</configuration>