<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="LogName" value="TimeTrackerLog"/>
    <add key="LogSourceName" value="TimeTrackerLogSource"/>
    <add key="AppsToTrack" value="msedge.exe"/>
    <add key="TimerInterval" value="60000"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Server=.\SQLExpress;AttachDbFilename=.\DB.mdf;Database=dbname; Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="WCFLibrary.TimeTrackerServer"
               behaviorConfiguration="WCFLibraryBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/TimerService/TimeTrackerServer/"/>
          </baseAddresses>
        </host>
        <endpoint address="demo"
                  binding="wsHttpBinding"
                  contract="WCFLibrary.IRecords" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFLibraryBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
